 /*#region importing fonts*/

 @font-face {
   font-family: 'lucia-grande';
   src: url('./fonts/lucida-grande/LucidaGrande.ttf') format('ttf');
   font-weight: normal;
   font-style: normal;
 }

 @font-face {
   font-family: 'lucia-grande';
   src: url('./fonts/lucida-grande/LucidaGrandeBold.ttf') format('ttf');
   font-weight: bold;
   font-style: normal;
 }

 @font-face {
   font-family: 'proxima_ssv';
   src: url('./fonts/proxima_ssv/proxima_ssv/ProximaNova-Regular.otf') format('otf');
   font-weight: normal;
   font-style: normal;
 }

 @font-face {
   font-family: 'proxima_ssv';
   src: url('./fonts/proxima_ssv/proxima_ssv/Proxima\ Nova\ Thin.otf') format('otf');
   font-weight: thin;
   font-style: normal;
 }

 @font-face {
   font-family: 'proxima_ssv';
   src: url('./fonts/proxima_ssv/proxima_ssv/Proxima\ Nova\ Extrabold.otf') format('otf');
   font-weight: bolder;
   font-style: normal;
 }

 @font-face {
   font-family: 'proxima_ssv';
   src: url('./fonts/proxima_ssv/proxima_ssv/Proxima\ Nova\ Bold.otf') format('otf');
   font-weight: bold;
   font-style: normal;
 }

 @font-face {
   font-family: 'proxima_ssv_black';
   src: url('./fonts/proxima_ssv/proxima_ssv/Proxima\ Nova\ Black.otf') format('otf');
   font-weight: normal;
   font-style: normal;
 }

 @font-face {
   font-family: 'proxima_ssv_alt';
   src: url('./fonts/proxima_ssv/proxima_ssv/Proxima\ Nova\ Alt\ Light.otf') format('otf');
   font-weight: light;
   font-style: normal;
 }

 @font-face {
   font-family: 'proxima_ssv_alt';
   src: url('./fonts/proxima_ssv/proxima_ssv/Proxima\ Nova\ Alt\ Thin.otf') format('otf');
   font-weight: thin;
   font-style: normal;
 }

 @font-face {
   font-family: 'proxima_ssv_alt';
   src: url('./fonts/proxima_ssv/proxima_ssv/Proxima\ Nova\ Alt\ Bold.otf') format('otf');
   font-weight: bold;
   font-style: normal;
 }

 /*#endregion importing fonts*/

 /*#region common_settings*/
 body {
   font-family: 'proxima_ssv', sans-serif;
 }

 h1 {
   font-family: 'proxima_ssv', serif;
 }

 .custom-button-dark {
   background-color: black;
   padding: 6px 25px;
   font-family: 'proxima_ssv', sans-serif;
   font-size: 18px;
   border: 0;
   color: white;
 }

 .custom-chevron-right {
   font-weight: 900;
   font-size: 18px;
 }

 .custom-card-body-height {
   height: 150px;
 }

 .custom-card-text-height {
   height: 50px;
 }

 .border-radius-0 {
  border-radius: 0;
 }

 /*#endregion common_settings*/

 /*region membership-clubs-societies-segment*/

 .membership-image-button {
   background-image: url(./images/MembershipBox1.jpg);
   height: 300px;
   background-size: cover;
 }

 .clubs-societies-image-button {
   background-image: url(./images/ClubsAndSocietiesBox2.jpg);
   height: 300px;
   background-size: cover;
 }

 /*endregion membership-clubs-societies-segment*/

 /*#region student-board-volunteer*/
 .student-board-image {
   background-image: url(./images/OurStudentBoardDemoBox3.jpg);
   height: 300px;
   background-size: cover;
 }

 .volunteer-image {
   background-image: url(./images/VolunteerDemoBox4.jpg);
   height: 300px;
   background-size: cover;

 }

 /*#endregion student-board-volunteer*/