 /*#region importing fonts*/
 @font-face {
   font-family: 'lucia-grande';
   src: url('./fonts/lucida-grande/LucidaGrande.ttf') format('ttf');
   font-weight: normal;
   font-style: normal;
 }
 @font-face {
   font-family: 'lucia-grande';
   src: url('./fonts/lucida-grande/LucidaGrandeBold.ttf') format('ttf');
   font-weight: bold;
   font-style: normal;
 }
 @font-face {
   font-family: 'proxima_ssv';
   src: url('./fonts/proxima_ssv/proxima_ssv/ProximaNova-Regular.otf') format('otf');
   font-weight: normal;
   font-style: normal;
 }
 @font-face {
   font-family: 'proxima_ssv';
   src: url('./fonts/proxima_ssv/proxima_ssv/Proxima\ Nova\ Thin.otf') format('otf');
   font-weight: thin;
   font-style: normal;
 }
 @font-face {
   font-family: 'proxima_ssv';
   src: url('./fonts/proxima_ssv/proxima_ssv/Proxima\ Nova\ Extrabold.otf') format('otf');
   font-weight: bolder;
   font-style: normal;
 }
 @font-face {
   font-family: 'proxima_ssv';
   src: url('./fonts/proxima_ssv/proxima_ssv/Proxima\ Nova\ Bold.otf') format('otf');
   font-weight: bold;
   font-style: normal;
 }
 @font-face {
   font-family: 'proxima_ssv_black';
   src: url('./fonts/proxima_ssv/proxima_ssv/Proxima\ Nova\ Black.otf') format('otf');
   font-weight: normal;
   font-style: normal;
 }
 @font-face {
   font-family: 'proxima_ssv_alt';
   src: url('./fonts/proxima_ssv/proxima_ssv/Proxima\ Nova\ Alt\ Light.otf') format('otf');
   font-weight: light;
   font-style: normal;
 }
 @font-face {
   font-family: 'proxima_ssv_alt';
   src: url('./fonts/proxima_ssv/proxima_ssv/Proxima\ Nova\ Alt\ Thin.otf') format('otf');
   font-weight: thin;
   font-style: normal;
 }
 @font-face {
   font-family: 'proxima_ssv_alt';
   src: url('./fonts/proxima_ssv/proxima_ssv/Proxima\ Nova\ Alt\ Bold.otf') format('otf');
   font-weight: bold;
   font-style: normal;
 }
 /*#endregion importing fonts*/

 /*#region common_settings*/
 body {
   font-family: 'proxima_ssv', sans-serif;
 }
 h1 {
   font-family: 'proxima_ssv', serif;
 }
 .border-radius-0 {
   border-radius: 0;
 }
 a {
  text-decoration: none;
  color: white;
 }
 .custom-button-dark {
   background-color: black;
   padding: 6px 25px;
   font-family: 'proxima_ssv', sans-serif;
   font-size: 18px;
   border: 0;
   color: white;
 }
 .custom-chevron-right {
   font-weight: 900;
   font-size: 18px;
 }
 .custom-card-body-height {
   height: 150px;
 }
 .custom-card-text-height {
   height: 50px;
 }
 .carousel .carousel-indicators button {
   width: 10px;
   height: 10px;
   border-radius: 100%;
 }
 hr {
  border: 1px solid #FFFFFF
}
 /*#endregion common_settings*/

 /*#region navbar*/
 .logo {
   height: 24px;
 }
 .searchbar-and-menubar input {
  border: none;
 }
 .searchbar-and-menubar input:focus { 
  outline: solid 2px white;
 }
 /*#endregion navbar*/

/*#region menubar*/  
.menubar a {
  color: #c9c8c7;
}
.menubar a:hover {
  color: white;
}
/*#endregion menubar*/

 /*#region membership-clubs-societies-segment*/
 .clubs-societies-image-button {
   background-image: url(./images/ClubsAndSocietiesBox2.jpg);
   height: 300px;
   background-size: cover;
 }

 .member-image-button {
  background-image: url(./images/MembershipBox1.jpg);
  height: 300px;
  background-size: cover;
 }
 /*#endregion membership-clubs-societies-segment*/

 /*#region student-board-volunteer*/
 .student-board-image {
   background-image: url(./images/OurStudentBoardDemoBox3.jpg);
   height: 300px;
   background-size: cover;
 }

 .volunteer-image {
   background-image: url(./images/VolunteerDemoBox4.jpg);
   height: 300px;
   background-size: cover;
 }

 /*#endregion student-board-volunteer*/

 /*#region carousel*/
 .custom-captions h1 {
   font-family: 'proxima_ssv', sans-serif;
   font-size: 38px;
   padding-top: 50px;
   padding-bottom: 20px;
 }

 @media only screen and (min-width: 768px) {
   .custom-captions h1 {
     padding-top: 50px;
     padding-bottom: 20px;
   }
 }

 @media only screen and (min-width: 992px) {
   .custom-captions h1 {
     font-size: 64px;
     padding-top: 150px;
     padding-bottom: 20px;
   }
 }
 /*#endregion carousel*/