 /*#region importing fonts*/
 @font-face {
   font-family: 'lucia-grande';
   src: url('./fonts/lucida-grande/LucidaGrande.ttf') format('ttf');
   font-weight: normal;
   font-style: normal;
 }

 @font-face {
   font-family: 'lucia-grande';
   src: url('./fonts/lucida-grande/LucidaGrandeBold.ttf') format('ttf');
   font-weight: bold;
   font-style: normal;
 }

 @font-face {
   font-family: 'proxima_ssv';
   src: url('./fonts/proxima_ssv/proxima_ssv/ProximaNova-Regular.otf') format('otf');
   font-weight: normal;
   font-style: normal;
 }

 @font-face {
   font-family: 'proxima_ssv';
   src: url('./fonts/proxima_ssv/proxima_ssv/Proxima\ Nova\ Thin.otf') format('otf');
   font-weight: thin;
   font-style: normal;
 }

 @font-face {
   font-family: 'proxima_ssv';
   src: url('./fonts/proxima_ssv/proxima_ssv/Proxima\ Nova\ Extrabold.otf') format('otf');
   font-weight: bolder;
   font-style: normal;
 }

 @font-face {
   font-family: 'proxima_ssv';
   src: url('./fonts/proxima_ssv/proxima_ssv/Proxima\ Nova\ Bold.otf') format('otf');
   font-weight: bold;
   font-style: normal;
 }

 @font-face {
   font-family: 'proxima_ssv_black';
   src: url('./fonts/proxima_ssv/proxima_ssv/Proxima\ Nova\ Black.otf') format('otf');
   font-weight: normal;
   font-style: normal;
 }

 @font-face {
   font-family: 'proxima_ssv_alt';
   src: url('./fonts/proxima_ssv/proxima_ssv/Proxima\ Nova\ Alt\ Light.otf') format('otf');
   font-weight: light;
   font-style: normal;
 }

 @font-face {
   font-family: 'proxima_ssv_alt';
   src: url('./fonts/proxima_ssv/proxima_ssv/Proxima\ Nova\ Alt\ Thin.otf') format('otf');
   font-weight: thin;
   font-style: normal;
 }

 @font-face {
   font-family: 'proxima_ssv_alt';
   src: url('./fonts/proxima_ssv/proxima_ssv/Proxima\ Nova\ Alt\ Bold.otf') format('otf');
   font-weight: bold;
   font-style: normal;
 }
 /*#endregion importing fonts*/

 /*#region common_settings*/
 body {
   font-family: 'proxima_ssv', sans-serif;
 }
 h1 {
   font-family: 'proxima_ssv', serif;
 }
 .border-radius-0 {
   border-radius: 0;
 }
 a {
   text-decoration: none;
   color: white;
 }
 .custom-button-dark {
   background-color: black;
   padding: 6px 25px;
   font-family: 'proxima_ssv', sans-serif;
   font-size: 18px;
   border: 0;
   color: white;
 }
 .custom-chevron-right {
   font-weight: 900;
   font-size: 18px;
 }
 .carousel .carousel-indicators button {
   width: 10px;
   height: 10px;
   border-radius: 100%;
 }
 hr {
   border: 1px solid #FFFFFF
 }
 .custom-container {
  max-width: 1200px;
  margin: 0 auto;
 }
 .custom-font-size-10 {
  font-size: 10px;
 }

 .custom-font-size-16 {
  font-size: 16px;
 }
 .custom-card-body {
  position: relative;
  padding: 15px;
  height: 115px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
 .custom-card-img-top {
  width: 100%;
 }
 .custom-chevron-right {
  position: absolute;
  right: 10px;
  bottom: 10px;
 }
 .custom-card-text {
  padding-bottom: 10px;
  box-sizing: border-box;
 }
 .custom-bg-warning {
  background-color: #fce200;
 }
 @media only screen and (min-width: 992px) {
   .custom-card-body {
     height: 140px;
   }
 }
 /*#endregion common_settings*/

 /*#region navbar*/
 .logo {
   height: 24px;
 }
 .search_input {
   border: 0;
   display: none;
 }
 .search_input:focus {
   outline: solid 2px white;
 }
 .search-button {
  border: 0;
 }
 .menubar-button-close {
  display: none;
 } 

 /*#endregion navbar*/

 /*#region menubar*/
 .menubar a {
   color: #c9c8c7;
 }

 .menubar a:hover {
   color: white;
 }

 /*#endregion menubar*/

 /*#region membership-clubs-societies-segment*/
 .clubs-societies-image-button {
   background-image: url(./images/ClubsAndSocietiesBox2.jpg);
   height: 300px;
   background-size: cover;
 }

 .member-image-button {
   background-image: url(./images/MembershipBox1.jpg);
   height: 300px;
   background-size: cover;
 }
 /*#endregion membership-clubs-societies-segment*/

 /*#region usu 2019 highlights*/
 .usu-highligts-2019 {
  width: 100%;
  aspect-ratio: 16/9;
 }
 /*#endregion usu 2019 highlights*/

 /*#region student-board-volunteer*/
 .student-board-image {
   background-image: url(./images/OurStudentBoardDemoBox3.jpg);
   height: 300px;
   background-size: cover;
 }

 .volunteer-image {
   background-image: url(./images/VolunteerDemoBox4.jpg);
   height: 300px;
   background-size: cover;
 }

 /*#endregion student-board-volunteer*/

 /*#region carousel*/
 .custom-captions h1 {
   font-family: 'proxima_ssv', sans-serif;
   font-size: 24px;
   padding-top: 130px;
   padding-bottom: 20px;
 }

 @media only screen and (min-width: 576px) {
   .custom-captions h1 {
     padding-top: 70px;
     padding-bottom: 20px;
   }
 }

 @media only screen and (min-width: 992px) {
   .custom-captions h1 {
     font-size: 54px;
     padding-top: 80px;
     padding-bottom: 20px;
   }
 }
  @media only screen and (min-width: 1200px) {
   .custom-captions h1 {
     font-size: 64px;
     padding-top: 150px;
     padding-bottom: 20px;
   }
 }

 /*#endregion carousel*/